

    <%- include('partials/header.ejs', data) %>


    <main class="container">
        <div class="bg-light p-5 rounded mt-3">
            <h1><%= title %></h1>
            <table class="table">
                <% for(var i=0; i<data.length; i++) {%>
                    <tr>
                        <td><%= data[i].id %></td>
                        <td><%= data[i].name %></td>
                        <td><%= data[i].email %></td>
                        <td>
                            <a href="/subscribers/edit/<%= data[i].id %>" >Edit</a>
                       </td>
                       <td>
                          <a href="/subscribers/delet/<%= data[i].id %>" >Delet</a>
                      </td>
                   
                    </tr>
                <% } %>
       
            </table>

        </div>


        <div class="subscribers-bar">

            <a class="btn btn-outline-primary" href="/subscribers/create">create new subscriber</a>
      
         </div>

      </main>


      <%- include('partials/footer.ejs', data) %>
