

    <%- include('partials/header.ejs', data) %>


    <main class="container">
        <div class="bg-light p-5 rounded mt-3">
            <h1><%= title %></h1>

            <table class="table">
                <tr><td>ID </td><td><%= data.id %></td></tr>
                <tr><td>Name </td><td><%= data.name %></td></tr>
                <tr><td>email </td><td><%= data.email %></td></tr>
            </table>


        </div>


        <div class="subscribers-bar">

            <a class="btn btn-outline-primary" href="/subscribers/create">create new subscriber</a>
      
         </div>

      </main>


      <%- include('partials/footer.ejs', data) %>
